<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ak47007.mapper.ArticleMapper">
    <resultMap id="BaseResultMap" type="com.ak47007.model.Article">
        <!--@mbg.generated-->
        <!--@Table `article`-->
        <id column="id" property="id"/>
        <result column="uuid" property="uuid"/>
        <result column="title" property="title"/>
        <result column="cover" property="cover"/>
        <result column="article_describe" property="articleDescribe"/>
        <result column="publish_time" property="publishTime"/>
        <result column="edit_time" property="editTime"/>
        <result column="tag_id" property="tagId"/>
        <result column="state" property="state"/>
        <result column="is_stickie" property="isStickie"/>
        <result column="article_type" property="articleType"/>
        <result column="user_id" property="userId"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        `id`, `uuid`, `title`, `cover`, `article_describe`, `publish_time`, `edit_time`,
        `tag_id`, `state`, `is_stickie`, `article_type`, `user_id`
    </sql>

    <select id="getSumViews" resultType="java.lang.Integer">
        SELECT IFNULL(sum(count_view), 0)
        FROM view_tb_article
        where user_id = #{userId}
    </select>
    <select id="tagCount" resultType="int">
        select count(1)
        from article
        where tag_id = #{tagId}
    </select>
    <select id="getArticlePie" resultMap="BaseResultMap">
        select title,
               count_view as 'views'
        from view_tb_article
        WHERE user_id = #{userId}
        ORDER BY count_view DESC
        LIMIT 10;
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-02-01-->
    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from article
    </select>


    <!--auto generated by MybatisCodeHelper on 2020-11-12-->
    <select id="findLatelyArticle" resultMap="BaseResultMap">
        SELECT a.uuid,
               a.title,
               a.cover,
               a.article_describe,
               a.publish_time,
               b.tag_name
        FROM article a
                     LEFT JOIN tags b ON a.tag_id = b.tag_id
        WHERE a.user_id = #{userId}
        ORDER BY publish_time DESC
        LIMIT 12
    </select>

</mapper>