<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ak47007.mapper.SysAuthorityApiMapper">
    <resultMap id="BaseResultMap" type="com.ak47007.model.SysAuthorityApi">
        <!--@mbg.generated-->
        <!--@Table sys_authority_api-->
        <id column="id" property="id"/>
        <result column="authority_id" property="authorityId"/>
        <result column="api_id" property="apiId"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, authority_id, api_id
    </sql>

    <select id="findByAuthorityId" resultType="com.ak47007.model.vo.AuthorityApiVO">
        SELECT sys_authority_api.id            AS 'authorityApiId',
               sys_authority_api.authority_id  AS 'authorityId',
               sys_authority_api.api_id        AS 'apiId',
               sys_api.api_url                 AS 'apiUrl',
               sys_api.description             AS 'description',
               sys_authority.authority_name_cn AS 'authorityNameCn',
               sys_authority.authority_name_en AS 'authorityNameEn',
               sys_authority.create_time       AS 'createTime',
               sys_authority.create_user       AS 'createUser',
               sys_authority.parent_id         AS 'parentId',
               sys_authority.state             AS 'state'
        FROM sys_authority_api
                     INNER JOIN sys_authority ON sys_authority_api.authority_id = sys_authority.id
                     INNER JOIN sys_api ON sys_authority_api.api_id = sys_api.id
        WHERE sys_authority_api.authority_id = #{authorityId}
    </select>

    <select id="findAll" resultType="com.ak47007.model.vo.AuthorityApiVO">
        SELECT sys_authority_api.id            AS 'authorityApiId',
               sys_authority_api.authority_id  AS 'authorityId',
               sys_authority_api.api_id        AS 'apiId',
               sys_api.api_url                 AS 'apiUrl',
               sys_api.description             AS 'description',
               sys_authority.authority_name_cn AS 'authorityNameCn',
               sys_authority.authority_name_en AS 'authorityNameEn',
               sys_authority.create_time       AS 'createTime',
               sys_authority.create_user       AS 'createUser',
               sys_authority.parent_id         AS 'parentId',
               sys_authority.state             AS 'state'
        FROM sys_authority_api
                     INNER JOIN sys_authority ON sys_authority_api.authority_id = sys_authority.id
                     INNER JOIN sys_api ON sys_authority_api.api_id = sys_api.id
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-05-09-->
    <delete id="deleteByAuthorityId">
        delete
        from sys_authority_api
        where `authority_id` = #{authorityId}
    </delete>
</mapper>