<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ak47007.mapper.SysBrowseLogMapper">
    <resultMap id="BaseResultMap" type="com.ak47007.model.SysBrowseLog">
        <!--@mbg.generated-->
        <!--@Table `sys_browse_log`-->
        <id column="id" property="id"/>
        <result column="article_id" property="articleId"/>
        <result column="browse_ip" property="browseIp"/>
        <result column="browse_time" property="browseTime"/>
        <result column="ip_location" property="ipLocation"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        `id`, `article_id`, `browse_ip`, `browse_time`, `ip_location`
    </sql>
    <select id="browseCount" resultType="com.ak47007.model.dto.BrowseRecordDTO">
        SELECT DISTINCT DATE_FORMAT(browse_time, '%Y-%m-%d') AS 'date',
                        count(1)                             AS 'y'
        FROM sys_browse_log
        WHERE article_id IN (SELECT id FROM article WHERE user_id = #{userId})
        GROUP BY DATE_FORMAT(browse_time, '%Y-%m-%d');
    </select>
    <select id="browseIp" resultType="com.ak47007.model.dto.BrowseRecordDTO">
        SELECT DISTINCT DATE_FORMAT(browse_time, '%Y-%m-%d') AS 'date',
                        COUNT(DISTINCT browse_ip)            AS 'y'
        FROM sys_browse_log
        WHERE article_id IN (SELECT id FROM article WHERE user_id = #{userId})
        GROUP BY DATE_FORMAT(browse_time, '%Y-%m-%d');
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-05-23-->
    <select id="selectByArticleId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_browse_log
        where article_id = #{articleId,jdbcType=BIGINT}
    </select>
</mapper>