// sidebar
//侧边栏文字颜色
//$menuText: #303133;
////选中某项侧边栏项后的文字颜色
//$menuActiveText: #1989FA;
////选中子项后父项的文字颜色
//$subMenuActiveText: #1989FA;
//
////侧边栏背景颜色
//$menuBg: #FCFCFC;
////鼠标移入当前侧边栏的颜色
//$menuHover: #ECF5FF;
//
////子级侧边栏背景颜色
//$subMenuBg: #FAFAFA;
////子级鼠标移入当前侧边栏的颜色
//$subMenuHover: #ECF5FF;
//
////侧边栏宽度
//$sideBarWidth: 210px;

// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#304156;
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 210px;


:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
