<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>404 - AK47007</title>
    <link rel="shortcut icon" th:href="@{~/favicon.ico}" type="image/x-icon"/>
    <link th:href="@{~/css/error/404.css}" rel="stylesheet" type="text/css">

</head>
<body class="notfound">


<div class="wrapper">
    <div class="big">页面不见了！</div>
    <div>是不是迷路了呀，点击<a href="javascript:void(0);" onclick="history.back(-1)">返回</a>.</div>
</div>


</body>
</html>
