html, body {
    height: 100%;
}

@media all and (max-width: 768px) {
    .articleList {
        display: flex;
        justify-content: center;
    }
}


body {
    background-color: #FAFAFA;
    cursor: url("../../images/cur/normal.cur"), auto;
}

.plugthumb:after {
    clear: both;
    content: '';
    display: block;
    width: 200px;
    height: 15px;
    position: absolute;
    bottom: -11px;
    left: -3px
}

.plugthumb:before {
    content: '';
    display: block;
    width: 100px;
    height: 15px;
    position: absolute;
    bottom: -9px;
    right: -6px
}

.plugthumb .plug-mesg {
    background-color: #f6f6f6;
    padding: 20px 15px;
    border-top: 1px solid #f2f2f2;
    line-height: 0px;
}

.plug-mesg ul {
    margin-left: -40px;
}

.plug-mesg ul li {
    float: left;
    margin-top: -5px;
    list-style: none;
    margin-left: 8px;
}

.plugthumb .plug-mesg a, .plugthumb .plug-mesg a:hover {
    text-align: none;
}

.plugthumb .tp {
    width: 250px;
    height: 158px;
    overflow: hidden;
    position: relative;
}

.flag {
    position: absolute; /*缁濆瀹氫綅*/
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 74px;
    background-color: #CC0001;
    color: #fff;
    z-index: 9999;
    font-size: 12px;
}

.flag-left {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: -18px;
    top: 9px;
}

.plugthumb .tp figure {
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.plugthumb .tp figure img {
    position: relative;
    display: block;
    opacity: 1;
}

.plugthumb .tp figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.plugthumb .tp figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.plugthumb .tp figure h2,
.plugthumb .tp figure p {
    margin: 0
}

.plugthumb .tp figure p {
    letter-spacing: 1px;
}

.plugthumb .tp img {
    display: block;
    position: relative
}

.plugthumb .tp p {
    font-size: 13px;
    position: relative;
    color: #FFFFFF;
    padding: 5px 10px
}

.plugthumb .tp figure,
.plugthumb .tp p,
.textcenter {
    text-align: center
}

.plugthumb {
    position: relative;
    float: left;
    width: 250px;
    padding-bottom: 1px;
    background: #fff;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    height: 380px;
    margin: 20px auto
}

figure.effect-bubba {
    background: #000;
}

.plugthumb:hover figure.effect-bubba img {
    opacity: 0.2;
    -webkit-transition: opacity .35s;
    transition: opacity .35s
}

figure.effect-bubba figcaption::after,
figure.effect-bubba figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
}

figure.effect-bubba figcaption::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1)
}

figure.effect-bubba figcaption::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0)
}

figure.effect-bubba p {
    padding: 10px 2.5em;
    opacity: 0;
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0)
}

.plugthumb:hover figcaption::after,
.plugthumb:hover figcaption::before {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
}

.plugthumb:hover h2,
.plugthumb:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.plugthumb .plug-info {
    height: 162px;
    padding: 15px;
    line-height: 20px;
    background-color: #fff;
    color: gray;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.plugthumb .plug-info .plug-title {
    height: 42px;
    line-height: 20px;
}

.plugthumb .plug-info .plug-description {
    margin-top: 8px;
    margin-bottom: 5px;
    padding-bottom: 8px;
    height: 80px;
    overflow: hidden;
}

.plug-title a:hover {
    cursor: pointer;
    color: #ee2c2c;
    text-decoration: none;
}

.plug-title a {
    cursor: pointer;
    color: #009ACD;
}

#views, #tagname {
    font-size: 12px;
}

.div-ul {
    display: flex;
}

.div-li {
    margin-top: -5px;
    margin-left: 15px;
}

.div-li:nth-of-type(1) {
    margin-left: 0px;
}

.div-time {
    float: right;
    margin-top: -10px;
}
