body{
    cursor: url("../../images/cur/normal.cur"), auto;
}
.article-type {
    display: inline-block;
    border: 1px solid #e9c341;
    border-radius: 50%;
    padding: 0px 2px;
    color: #bf4b4a;
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
}

.article-line {
    border: none;
    border-bottom: 1px solid #eee;
    margin-top: 15px;
}
.level3 {
    padding-left: 20px;
}
